# Backend
backend/target/
backend/.idea/
backend/*.iml

# Frontend
frontend/node_modules/
frontend/.angular/
frontend/dist/

# Sistema
.DS_Store
Thumbs.db

# Arquivos soltos na raiz
.mvn/
mvnw
mvnw.cmd
pom.xml
.gitattributes
marketplace.api/